.alert.alert-soft-primary {
    border-left: 5px solid rgb(122,185,41);
    background: rgba(122,185,41, 0.1);
}

.alert.alert-soft-secondary {
    border-left: 5px solid rgb(34,34,34);
    background: rgba(34,34,34, 0.1);
}

.alert.alert-soft-danger {
    border-left: 5px solid rgb(192,57,43);
    background: rgba(192,57,43, 0.1);
}

.alert.alert-soft-warning {
    border-left: 5px solid rgb(243,156,18);
    background: rgba(243,156,18, 0.1);
}

.alert.alert-soft-info {
    border-left: 5px solid rgb(52,152,219);
    background: rgba(52,152,219, 0.1);
}

.alert.alert-soft-grey {
    background-color: #eee;
    border-color: #eee;
    color: #999;
}

.alert.alert-soft-success {
    border-left: 5px solid rgb(122,185,41);
    background: rgba(122,185,41, 0.1);
}

.alert.alert-soft-light {
    border-left: 5px solid rgb(170,170,170);
    background: rgba(170,170,170, 0.1);
}