.modal-content {
    background-clip: border-box;
}

.modal-body,
.modal-header,
.modal-footer {
    padding: $card-padding;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal .card {
    background-color: $gray-700;
    opacity: 0.9;
    box-shadow: 0 0 1em $gray-400;
}

.modal .card h1, 
.modal .card h2,
.modal .card h3, 
.modal .card h4,
.modal .card h5,
.modal .card h6,
.modal .card p,
.modal .card a,
.modal .card input,
.modal .card textarea, 
.modal .card label,
.modal .card select {
    color: $white;
}

.modal .card select option {
    color: $black
}

.modal .card table tr:hover {
    background-color: #DFE6D8;
}

.modal .card table tbody tr:hover:nth-child(odd) {
    background-color: #D8E5C9;
  }

.modal .card .table > thead > tr > th, .table > tfoot > tr > th {
    font-weight: normal;
    background: $white;
}

.modal .card .page-item:not(:first-child) .page-link {
    margin-left: -1px;
    color: $black;
}