.upload-area {
    background: #fff;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card .upload-area {
    background: #eee;
}

.upload-area.is-dragover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#upload-status {
    position:fixed; 
    right: 30px;
    bottom: 100px;
    width: 360px;
    z-index: 9999;
}

.upload-status-item {
    margin-top: 10px;
    background: $secondary;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 3px;
    color: $white;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}