/* Eigene Variablen */
$theme-border-size: 2px !default;
$theme-border: $theme-border-size solid $primary !default;


// Navbar 
$navbar-height: 76px;

// Sidebar Width
$sidebar-width: 270px;

// Breadcrumbs Height
$breadcrumbs-height: 15px;


//Summer Note Modal
